.button {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 36px;
    font-size: 18px;
    cursor: pointer;
}

.search {
    width: 45px;
    height: 45px;
    background-color: #8239F2;
}

.primary {
    background-color: #8239F2;

}

.secundary {
    background-color: #43E8BE;
    color: #FFF;
}