.container {
    display: flex;
    max-width: 816px;
    gap: 16px;

    img {
        border-radius: 50%;
    }

    .content {
        width: 860px;
        color: #050505;
        background-color: #F0F2F5;
        padding: 16px;
        border-radius: 15px;


        p {
            margin-bottom: 8px;
        }
    }
}