* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {

  overflow-x: hidden;
  background-color: #5FE9C6;
  
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 67px 68px 68px;
  background-color: #FFF;
  min-height: calc(100vh - 108px - 135px);
}